.hex-generator {
    .hex-generator-form {
        margin: 42px 0;
    }

    .color-list {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (min-width: 481px) {
            grid-template-columns: 1fr 1fr 1fr;           
        }

        @media (min-width: 769px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (min-width: 1024px) {   
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;    
        }

    }
}
