/* removes vertical space between hex and weight values */
p {
    margin: 0;
    font-size: 12px;
}

i {
    font-size: 18px !important;
    text-shadow: rgba(101, 101, 101, 0.15) 1px 1px 2px;
}

.single-color-container {
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
   padding: 12px;
   /** forces color container to be equal width and height */
   aspect-ratio: 1 / 1;
   margin: 8px;  
}

.single-color-information {
    text-transform: uppercase;
    font-size: 12px;
}

/* changes font color to white depending on how dark the color is */
.color-light {
    color: #fff;
}

.copied-confirmation {
    font-size: 14px;
    text-transform: capitalize;
    text-shadow: rgba(89, 89, 89, 0.829) 0px 0px 1px;
    margin-top: auto;
    margin-right: auto !important;
   
}


@media (min-width: 769px) {
    .single-color-information {
        font-size: 16px;
    }

    .single-color-container {
        font-size: 24px;
    }

    .copied-confirmation {
        font-size: 16px;
    }

}


@media (min-width: 1025px) {
    .single-color-information {
        font-size: 20px;
    }

    .copied-confirmation {
        font-size: 18px;
    }
}