.single-color-container {
   height: 150px;
   width: 150px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
   padding: 10px;
   display: flex;
   flex-direction: column;
}

.single-color-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.75px;
}

/* changes font color to white depending on how dark the color is */
.color-light {
    color: #fff;
}

.hex-code-value {
    font-size: 15px;
    font-weight: medium;
}


.clipboard-icon {
    /* moves clipboard to bottom right of container */
    margin-top: auto;
    margin-left: auto;
}

i {
    color: #fff !important;
    font-size: 20px !important;
    text-shadow: rgba(27, 27, 27, 0.15) 1.95px 1.95px 2.6px;
}

.copied-confirmation {
    font-size: 12px !important;
    font-style: normal;
    color: #fff;
    text-shadow: rgba(39, 39, 39, 0.829) 0px 0px 1px;
    margin-top: auto;
    margin-right: auto !important;
}





