* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.App-container {
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}