input {
    border-radius: 10px;
    padding: 12px 28px 12px 10px;
    margin: 12px 0 32px 0;
    letter-spacing: 0.5px;
    font-size: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fa {
    font-size: 100px;
}

.hex-code-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    font-family: 'Inter', sans-serif !important;    
}

.hex-code-header h2 {
    font-size: 42px;
    font-weight: bolder !important;
    text-align: center;
    color: #000;
    letter-spacing: 1px;
    margin: 12px 0 0 0;
}

.heading-text {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
	padding: 10px 10px 2px 10px;
	border: none;
	cursor: pointer;
    font-size: 24px !important;
    letter-spacing: 0.5px;
    box-shadow: none !important;
}

.heading-text h6 {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.938);
    font-weight: lighter;
    margin-top: 8px;
}

.instructions {
    font-size: 20px;
    letter-spacing: 0.75px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: normal;
    width: 70%;
    text-align: center;
}

.hex-code-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-text {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 32px;
}

.color-section-text {
    font-size: 20px;
}

.color-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    gap: 16px; 
}

.color-option-buttons { 
    display: flex;
};

.color-button-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.color-button {
    color: #fff;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    box-shadow: rgba(58, 58, 58, 0) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 12px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    text-shadow: rgb(54, 54, 54) 0px 0px 0.5px;
    letter-spacing: 0.5px;
    border: none;
}

.generate-color-button {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.generate-color-button button {
    background-color: rgb(0, 170, 77);
    color: #fff;
    padding: 10px 24px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    display: flex !important;
    justify-content: center !important;
}

.clipboard-icon {
    /* moves clipboard to bottom right of container */
    margin-top: auto;
    margin-left: auto !important;
} 

.copied-message {
    font-size: 12px !important;
    font-style: normal;
    color: #fff;
    text-shadow: rgba(39, 39, 39, 0.829) 0px 0px 1px;
}

.hex-color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    gap: 16px;
    margin-top: 32px;
}



