/* mobile view */
.hex-color-list {
    display: grid;
    max-width: 100%;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
}

.hex-code-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    font-family: 'Inter', sans-serif !important;
}

.hex-code-title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.5px;
    margin: 12px 0 0 0;
}

.hex-code-description {
    font-size: 16px;
}

.generate-hex-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paste-color-below-btn {
   background: none;
    margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
    box-shadow: none !important;
}

.label-text {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Inter', sans-serif !important;
}

input {
    border-radius: 5px;
    padding: 5px 10px 5px 8px;
    margin: 12px 0 32px 0;
    letter-spacing: 0.5px;
    font-size: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.generate-buttons {
    display: flex;
    justify-content: center;
}

.color-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 14px;
    font-weight: bold;  
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    margin-bottom: 10px;
}

.color-button {
    opacity: 0.9;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    margin: 8px 10px;
    width: 80px !important;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

.twenty {
    padding: 10px 24px;
    background-color: #fff;
    color: #000;
    font-size: 22px;
    margin-top: 42px;
}

.forty {
    padding: 6px 10px;
    color: #fff;
    background-color: #000;
}

/** color option buttons */

.color-option-buttons {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 24px;
};




/** tablet view */
@media (min-width: 500px) {
    .hex-color-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/** tablet view */
@media (min-width: 820px) {
    .hex-color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/** desktop view */
@media (min-width: 1000px) {
    .hex-color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}


@media (min-width: 1280px) {
    .hex-color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}