.generate-colors {
    button {
        padding: 8px 72px;
    }

    .colorValueError h3 {
        text-align: center;
    }

    #confirmErrorMessage {
        background-color: green;
    }
}