.generate-colors {

    .generator-button {
        background-color: #3E00FF;
        padding: 10px 40px;
    }
  
    .colorValueError h3 {
        text-align: center;
    }

    #confirmErrorMessage {
        background-color: green;
    }
}