* {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}

/** centers all app content */
html, body {
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

html {
    display: table;
    margin: auto;
}

body {
    padding: 20px;
    display: table-cell;
    vertical-align: middle;
}
