html {
    padding: 0;
    margin: 0;
    background: linear-gradient(#f7c2e7, #ffffff) no-repeat center center fixed;
}

.App-container {
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}